body {
    background-color: lightblue;
    margin:0;
    padding:0;
    opacity: 1;
    transition: opacity 0.5s;
  }
 
  .header{
    background-color: rgb(236, 29, 236);
    opacity: 0.6;

  

  }
  .social-icons {
    font-size: 25px;
  }
#dynamic-line{
  color:rgb(255, 58, 255);
}


  .social-icons a {
    color: rgb(255, 255, 255);
  }

   /* Your styles here */
   .blinking-cursor {
    display: inline-block;
    width: 1em;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.1;
    }
}
/*Profile image*/
.glow-profile {
  height: 20em;
  width:20em;
  border-radius: 50%;
  margin-left:auto;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  animation: glow-animation 2s infinite alternate;
}

@keyframes glow-animation {
  0% {
      box-shadow: 0 0 10px rgba(238, 49, 49, 0.726);
  }
  100% {
      box-shadow: 0 0 20px rgba(0, 0, 255, 1);
  }
}
  /*image*/

.background{
  
        background-image: url('bg1.jpg');
        margin:0;
        color:white;
        padding:0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* You can add more styling properties here */
        width: 100%; /* Adjust to your layout */
        height: 100vh; /* Adjust to your layout */
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

}

  @media (min-width: 300px) and (max-width: 992px) { /* Medium devices (laptops) */
   .glow-profile {
    width:10em;
    height:10em;
    border-radius: 50%;

   }
  }
