body {
    background-color: lightblue;
    margin:0;
    padding:0;
    opacity: 1;
    transition: opacity 0.5s;
  }
 
  .header{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;

  

  }
  .social-icons {
    font-size: 25px;
  }
#dynamic-line{
  color:rgb(255, 58, 255);
}


  .social-icons a {
    color: rgb(255, 255, 255);
  }
/* starting buttons*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.horizontal-list li a{
  text-decoration: none;
  color:white;
}
.horizontal-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
  border-radius: 5px;
  padding: 10px 0;
  margin: 0;
}

.horizontal-list li {
  
  margin: 0 15px;
  color: white;
  font-weight: bold;
  padding:5px;
  text-transform: uppercase;
  cursor: pointer;
  
}

.horizontal-list li:hover {
  box-sizing: border-box;
  box-shadow: 3px 2px 10px lightskyblue;
  border-radius: 5px;
  
}

/*end*/

   /* Your styles here */
   .blinking-cursor {
    display: inline-block;
    width: 1em;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.1;
    }
}
/*Profile image*/
.glow-profile {
  height: 20em;
  width:20em;
  border-radius: 50%;
  margin-left:auto;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.7);
  animation: glow-animation 2s infinite alternate;
  transition: transform 0.3s;
}
.glow-profile:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.me{
  font-family:monospace;
  color:rgb(252, 115, 115);
  text-decoration:none;
}
@keyframes glow-animation {
  0% {
      box-shadow: 0 0 2cap rgba(49, 225, 238, 0.932);
  }
  100% {
      box-shadow: 0 0 20px rgb(255, 102, 0);
  }
}
  /*image*/

.background{
  
        background-image: url('bg1.jpg');
        margin:0;
        color:white;
        padding:0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* You can add more styling properties here */
        width: 100%; /* Adjust to your layout */
        height: 100vh; /* Adjust to your layout */
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

}
/*about me*/
.about-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 22, 252);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.about-content {
  text-align: center;
  padding: 20px;
}

.section.active {
  opacity: 1;
}
/*end*/

/* My skills*/
.skills-section {
  width: 50%;
  margin: 50px auto;
  background-color: rgb(0, 0, 0);
  color:white;
  padding: 20px;
  box-shadow: 0px 0px 5px rgb(20, 230, 245);
  border-radius: 20px;
}

.skill {
  margin-bottom: 20px;
}

.skill p {
  margin: 0;
  font-weight: bold;
}

.skill-bar {
  background-color: #f0f0f0;
  height: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.skill-level {
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.percentage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff7f7;
}
.python{
  width:40%;
  background-color:rgb(231, 18, 231);
  box-shadow:5px 2px 3px rgb(8, 218, 255);
}
.programming{
  width:50%;
  background-color:rgb(231, 18, 231);
  box-shadow:5px 2px 3px rgb(8, 218, 255);
}
.html {
  width: 90%;
  background-color: rgb(231, 18, 231);
  box-shadow:5px 2px 3px rgb(8, 218, 255);
}

.css {
  width: 85%;
  background-color: rgb(231, 18, 231);
  box-shadow:5px 2px 3px rgb(8, 218, 255);
}
.java{
  width: 50%;
  background-color: rgb(231, 18, 231);
  box-shadow:5px 2px 3px rgb(8, 218, 255);
}


/* Device adaptive*/

  @media (min-width: 300px) and (max-width: 992px) { /* Medium devices (laptops) */
   .glow-profile {
    width:10em;
    height:10em;
    border-radius: 50%;

   }
   
  }
